/*---------BREADCRUMBS-------------*/
.breadcrumbs{
  height: 65px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  line-height: 4.063;
}

/*---------PRODUCT_DETAIL----------*/

.viewer_full{
  width: 544px;
  max-height: 385px;
  overflow: hidden;
}
.list_thumb li{
  /*height: 128px;*/
  max-height: 128px;
  width: 182px;
  overflow: hidden;
}
.product_detail{
  margin-top: 60px;
}
.product_detail_wrapper{
  display: flex;
}
.viewer_full img, .list_thumb img{
  vertical-align: bottom;
}

.list_thumb{
  display: flex;
  padding-left: 0;
  margin-top: 0;
}
.detail_gallery img{
  cursor: pointer;
}
.detail_main{
  margin-left: 40px;
}
.product_description{
  width: 550px;
  font-size: 16px;
  font-family: "Times New Roman";
  color: rgb(0, 0, 0);
  font-style: italic;
  line-height: 1.875;
}
.price{
  margin-top:50px;
  font-size: 25px;
  line-height: 2.6;
}
.property{
  width: 60px;
  /*margin-top: 12px;*/
}
.value{
  flex: 1 1 50%;
}
.list_value{
  display: flex;
  margin-top: 0;
}
.list_value li{
  margin-right: 40px;
  font-size: 14px;
  font-weight: bold;

}
.list_value span{
  border: solid transparent 1px;
  padding: 10px;
}
.list_value span:hover{
  border-color: #e5e5e5!important;
}
.list_value span{
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto";
}

/*HOVER EFFECT*/
.list_thumb li,.viewer_full{
  background-color: black;
  position: relative;
}
.list_thumb li:hover img, .viewer_full:hover img{
  opacity: 0.5;
}
.detail_gallery img{
  opacity: 1;
  width: 100%;
  /*height: 100%;*/
}


/*------------BANNER----------*/
.banner{
  margin-top: 100px;
  display: flex;
  height: 400px;
  overflow:hidden;
}
.banner h2, .item_index0 .text small, .item_index1 .text small{
  color: rgb(255, 255, 255);
  /*line-height: 2.321;*/
}
.item_index2 .text_bottom{
  right: 41%;
}
.text_bottom{
  top: 72%;
  right: 23%;
}
.left, .right{
  flex:1 49%;
}
.right{
  display: flex;
}
.banner_item{
  flex: 1 49%;
  position: relative;
}



/*---------------ADAPTIVE------------*/
/*---TABLET---*/
@media (min-width:768px) and (max-width:1024px){
  .container{
    max-width: 800px;
  }
  .item_index2{
    display: none;
  }
  .left{
    flex: 1 65%;
  }
  .right{
    flex: 1 35%;
  }
  .product_detail_wrapper{
    flex-flow: wrap;
  }
  .detail_main > div,dl{
    margin: auto;
    text-align: center;
    margin-top: 45px;
  }
  .detail_main, .detail_gallery{
    display: flex;
  }
  .detail_gallery{
    flex: 1 100%;
  }
  .list_thumb{
    flex-flow: wrap column;
    margin-top: 0;
  }
  .list_thumb img{
    height: 100%;
    vertical-align: baseline;
  }
  .thumbnails{
    margin-top: 0;
  }
  .detail_main{
    flex-flow: wrap column;
    margin: auto;
  }
  .product_title{
    /*margin-top: 15px;*/
    order:1;
  }
  .product_description{order:3}
  .price{
    order:2;
    line-height: 0;
  }
  .product_size{order:4}
  .product_color{order:5}
  .btn{
    order:6;
    position: static;
  }
  }
  @media (min-width:375px) and (max-width:768px){
    .product_detail_wrapper{
      flex-flow: wrap;
    }
    .right{
      display: none;
    }
    .detail_main > div,dl{
      margin: auto;
      text-align: center;
      margin-top: 45px;
    }
  .detail_main{
    flex-flow: wrap column;
    margin: auto;
    display: flex;
  }
  .product_title{
    /*margin-top: 15px;*/
    order:1;
  }
  .product_description{order:3}
  .price{
    order:2;
    line-height: 0;
  }
  .product_size{order:4}
  .product_color{order:5}
  .btn{
    order:6;
    position: static;
  }
}
  @media (max-width:375px){
    .product_detail_wrapper{
      flex-flow: wrap;
    }
    .detail_main > div,dl{
      margin: auto;
      text-align: center;
      margin-top: 45px;
    }
  .detail_main{
    flex-flow: wrap column;
    margin: auto;
    display: flex;
  }
  .product_title{
    /*margin-top: 15px;*/
    order:1;
  }
  .product_description{order:3}
  .price{
    order:2;
    line-height: 0;
  }
  .product_size{order:4}
  .product_color{order:5}
  .btn{
    order:6;
    position: static;
  }
}
